* {
  box-sizing: border-box;

  /* CSS variables */
  --body-width: 900px;
  --filters-bar-width: 690px;
  --timeline-container-height: 55px;
  --filter-checked-color: #247BA0;
}

::-webkit-input-placeholder {
  font-style: italic;
}

body {
  width: var(--body-width);
  margin: 0px auto;
  overflow-y: scroll;
  font-family: Georgia;
}

/* Header */

#header {
  position: fixed;
  top: 0;
  width: var(--body-width);
  background: white;
  z-index: 1;
}

#title {
  margin: 20px 0px 15px;
}

#title h1 {
  margin: 0px;
	text-align: left;
	font-size: 42px;
}

#description {
  width: var(--filters-bar-width);
	margin-bottom: 15px;
}

#description p {
  text-align: left;
	line-height: 20px;
	font-size: 14px;
}

#description a {
	color: #217ce3;
	text-decoration: none;
}

#n-results {
  margin-bottom: 15px;
  font-size: 16px;
}

/* Filters */

#filters-bar {
  width: var(--filters-bar-width);
  margin-bottom: 20px;
}

.filter {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

.filters-row[row-number="1"] .filter {
  margin-right: 43px;
}

.filters-row[row-number="2"] .filter {
  margin-right: 25px;
}

.filters-row .filter:last-child {
  margin-right: 0px;
}

.filter-name {
  padding-left: 1px;
  padding-bottom: 3px;
  font-size: 12px;
  color: #000;
}

.filter-option {
  display: inline-block;
}

.filter-option input {
  display: none;
}

.filter-option label {
  padding: 3px 7px;
  font-size: 12px;
  color: #000;
  border: solid lightgrey 1px;
}

.filter-option:first-child label {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.filter-option:last-child label {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.filter-option input:checked + label {
  background: #F5F5F5;
  border-color: var(--filter-checked-color);
  color: var(--filter-checked-color);
}

/* Activities search box */

#activities-searchbox {
  position: relative;
  width: calc(var(--filters-bar-width) - 5px); /* I don't understand why the 5px adjustment is necessary, but it is. */
}

#activities-searchbox input {
  width: 100%;
  height: 20px;
  padding: 3px 7px;
  font-size: 12px;
  border: solid lightgray 1px;
  border-radius: 3px;
}

.suggestions-box {
  position: absolute;
  width: calc(var(--filters-bar-width) - 5px);
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  list-style: none;
  background: white;
  z-index: 2;
}

.suggestion-category {
  padding: 3px 6px;
  font-size: 14px;
}

.suggestion-activity {
  padding: 3px 12px;
  font-size: 12px;
}

.suggestions-box li.selected {
  background: #F5F5F5;
  border: solid var(--filter-checked-color) 1px;
  color: var(--filter-checked-color);
}


/* Timelines */

#timelines-list {
  width: var(--central-column-width);
}

.timeline-container {
  position: relative;
  height: var(--timeline-container-height);
  width: 100%;
  margin-bottom: 5px;
}

.annotations {
  position: relative;
  height: 15px;
  font-size: 12px;
}

.demographics {
  display: inline-block;
  width: calc(100% - 103px);
}

.day {
  display: inline-block;
  width: 100px;
  text-align: right;
}

.timeline {
  position: absolute;
  top: 0px;
  width: 100%;
  height: var(--timeline-container-height);
}

.activity-label {
  position: absolute;
  top: 0px;
  padding: 0px 5px;
  background: white;
  border-radius: 3px;
}

.axis path {
  fill: none;
  stroke: #aaa;
  stroke-width: 1px;
}

.tick line {
  fill: none;
  stroke: #aaa;
}

.tick text {
  font-size: 0.8em;
}
